body {
    background: hsl(257, 40%, 49%);
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    color: #fff;
    text-align: center;
}

h1, p {
    margin-bottom: 20px;
    line-height: 1.5;
}

h1 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: clamp(1.5rem, 3vw, 3rem);
}

p {
    font-family: 'Open Sans';
    font-size: clamp(0.92rem, 1.22vw, 2.5rem);
    font-weight: 400;
}

/* Container */

.container-fluid {
    padding: 10px 30px;
}

/* Navbar*/

.navbar {
    text-align: left;
}

.huddle-logo {
    width: 50%;
    margin-top: 20px;
}

/* Huddle Image & Text */

.huddle-image {
    margin: 40px auto;
    width: 100%;
}

.huddle-text {
    margin: 0 auto;
    padding: 0 30px;
    width: 200%;
}

/* Button  */

.huddle-button {
    border-radius: 50px;
    color: hsl(257, 40%, 49%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    margin-top: 10px;
    padding: 10px 70px;
}

.huddle-button:hover {
    color: #fff;
    background-color: hsl(300, 69%, 71%);
}

/* Links */

.links {
    margin: 70px auto 40px auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social-links {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 3px 5px;
}

.social-links:hover {
    color: hsl(300, 75%, 68%);
    border: 1px solid hsl(300, 75%, 68%);
}

.fa-stack {
    margin: 5px;
}

@media (min-width: 990px) {
    body {
        background-image: url(../images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Container */

    .container-fluid {
        padding: 2% 4%;
        height: 100vh;
    }

    /* Navbar */

    .huddle-logo {
        width: 80%;
    }

    /* Huddle Image & Text */

    .title-image {
        width: 55%; 
    }

    .huddle-image {
        width: 100%;
    }

    .huddle-text {
        text-align: left;
        width: 45%;
        margin: 80px 0 50px 0;
        padding-right: 5%;
    }

    /* Button */

    .huddle-button {
        padding: 12px 55px;
    }


    /* Links */

    .links {
        display: flex;
        justify-content: flex-end;
        margin: 0 5%;
    }
    
}

